html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  padding: 0;
  margin: 0;
}

header {
  color: #fff;
  padding: 0 0 0 1rem;

}

main {
  padding: 0 1rem 0 1rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-column: 1fr;
}

ul > li {

  display: flex;
  flex-direction: column;

  color: #fff;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

h2 {
  padding: 0;
  margin: 1.5rem 0 1.5rem 0;
}

h3 {
  border: solid rgba(255, 255, 255, .7) .2rem;
  font-weight: normal;
  padding: 1rem;
}

a {
  align-items: center;
  text-decoration: none;
  color: #fff;

}

p {
  text-align: left;
  font-weight: normal;
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

.icon {
  position: relative;
  fill: #fff;
  width: 8rem;
  height: 8rem;
  padding-top: 1rem;
}

.icon svg {
  fill: #fff;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

a:hover {
  color: #ff5e3a;
  background-color: #fff;
}

@media only screen and (min-width:38em){

  header {
    text-align: center;
  }

ul {
  display: flex;
}

li {
  align-items: stretch;
}

}
