html {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  margin: 1.5rem;
}

header {
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.125rem;
  font-weight: normal;
  border: solid #fff .2rem;
  padding: 1rem;
  text-align: center;
}

main {
  color: #fff;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 8rem;
  width: 8rem;
  color: #fff;
}

.icon svg {
  fill: currentColor;
}

@media only screen and (min-width: 608px) {

main {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}


}
